:root {
   --p-padding: 0.6em;
}

.html,
body {
   display: block;
   margin: 0;
   box-sizing: border-box;
   font-size: 1rem;
}

.header-wrapper {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: var(--p-padding);
   position: sticky;
   top: 0;
   backdrop-filter: blur(10px);
   height: clamp(12.4dvh, 12.8dvh, 12.9dvh);
   font-size: inherit;
   background-color: #6d6868;
   color: #ffffff;
}

.header-wrapper>div {
   flex-grow: 1;
}

.main-logo {
   list-style: none;
   text-decoration: none;
}

.navbar-links-wrapper {
   list-style: none;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: clamp(0.85rem, 1.1rem, 1.3rem);
}

.navbar-links-wrapper li {
   flex-grow: 1;
   flex-shrink: 1;
   flex-basis: 1;
}

a {
   text-decoration: none;
   cursor: pointer;
   color: inherit;
   padding: clamp(0.4rem, 0.6rem, 0.9rem);
}

.navbar-links-wrapper>li>a {
   height: 100%;
   width: 100%;
   border-radius: 9px;
}

/* section area */

.main-body {
   max-width: 100%;
}

.qr-hero-section {
   height: 24dvh;
   max-width: 100%;
   background-image: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(106, 26, 76) 50%, rgb(255, 255, 255) 100%);
   color: #ffffff;
   display: flex;
   align-items: flex-start;
   justify-content:center;
   flex-direction: column;
   padding-inline: 1.5rem;
}

.qr-hero-text {
   top: 0;
   left: 0;
   font-size: 2rem;
   font-weight: bold;
}

.qr-hero-text-l1 {
   font-size: 1.2rem;
}


/* main generator area */
.main-generator-area {
   display: flex;
   justify-content: space-between;
   align-items: center;
   border-radius: 6px;
   gap: clamp(0.9rem, 1rem, 1.5rem);
   background-color: #e5e5f1;
   max-width: 100%;
   padding: var(--p-padding);
}

.requirement-provider {
   display: grid;
   flex-grow: 1;
   align-items: start;
   gap: 0.5rem;
   max-width: 60%;
   height: 100%;
   padding: clamp(0.75rem, 0.79rem, 0.8rem);
}

.requirement-provider>div {
   border-radius: clamp(4px, 5.89px, 6.5px);
   padding: 0.25rem;
   height: auto;
}

.input-area {
   display: flex;
   justify-content: flex-start;
   align-items: center;
   padding: 0.3rem;
}

.form-ele-enter-url {
   height: 100%;
   flex-grow: 1;
}

#enter-url {
   display: block;
   height: 100%;
   width: 100%;
   line-height: 1.5rem;
   border: none;
   outline: none;
   font-size: 1rem;
   text-align: left;
}

/* Reqiurement-provider buttons */

.RP-btn-box {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: clamp(2rem, 2.5rem, 2.7rem) !important;
}

.RP-btn-box>button {
   border-radius: clamp(4px, 5px, 6px);
   background-color: #f0f0f0;
   color: #2d2929;
   padding: clamp(0.5rem, 0.15rem, 0.25rem);
   cursor: pointer;
   border: none;
   outline: 0;
}

.RP-btn-box>button:hover {
   background-color: #ffffff;
}

.qrcode-provider {
   display: flex;
   padding: clamp(0.75rem, 0.89rem, 1rem);
   justify-content: center;
   align-items: center;
   max-width: 38%;
   height: auto;
}

#qrcode img {
   max-height: 100%;
   max-width: 100%;
}

/* -------------------------- hamburger button----------------- */

.hamburger {
   padding: var(--p-btn);
   display: none;
}


.navbar-links-wrapper[data-visible="true"] {
   display: flex;
}

.hamburger span,
.hamburger-close span {
   display: block;
   height: 2px;
   width: 12px;
   background-color: black;
   margin-bottom: 2px;
}

.data-visible {
   display: block;
}

/* Form-section */

.form-panel {
   display: flex;
   flex-direction: row;
   gap: clamp(0.55rem, 0.7rem, 0.8rem);
   font-size: inherit;
}

.form-panel>* {
   flex: 1;
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.fav-dark-color .fav-light-color>* {
   height: 100%;
   flex: 1;
}

#input-correct-lvl {
   flex: 1;
   height: 100%;
   width: 100%;
   max-width: 100%;
}

#input-correct-lvl option {
   text-align: center;
   font-size: inherit;
}

#select-fav-dark-color #select-fav-light-color {
   border: none;
   border-radius: 50%;
   padding: none;
}


/* qr-footer area */
.qr-footer {
   width: 100%;
   max-width: 100%;
   padding: var(--p-padding);
   position: fixed;
   bottom: 0;
   display: flex;
   align-items: center;
   gap: 0.2rem;
   line-height: 1.1rem;
   font-weight: 700;
   background-color: #6d6868;
   color: #ffffff;
}


/* media-queries */


@media only screen and (max-width: 768px) {
   .main-generator-area {
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: column;
   }

   .navbar-links-wrapper {
      display: none;
      position: fixed;
      /*this is help to prevent another scroll while the nav is open*/
      inset: 0 0 0 54%;
      z-index: 9999;
      flex-direction: column;
      padding: min(30vh, 10rem) 2em !important;
      margin: 0;
      gap: 2rem;
      background-color: rgb(249, 173, 173);
   }

   .hamburger {
      position: relative;
      z-index: 9999;
      display: block;
      cursor: pointer;
   }

   .form-panel {
      flex-wrap: wrap;
   }
}